* {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
 }

header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #4b4b4b;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

nav {
    margin: 0 0 0 auto;
}

.mv-img {
    width: 300px;
    height: auto;
}
/* メインビジュアルエリア */
.mv-area {
    background-color: beige;
    width: 700px;
    padding: 30px;
    margin: 100px auto;
}

/* メインビジュアル */
.mv{
    width: 300px;
    margin: 100px auto;
}

/* メインビジュアルタイトル */
.mv-title{
    font-style: normal;
    color: grey;
    font-size: 40px;
    text-align: center;
}

/* 技術ブログエリア */
h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.archive-card{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.card{
    width: 288px;
    height: auto;
}

.card__imgframe{
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: url(https://placehold.jp/640x360.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}

.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}

.card__textbox > * + *{
  margin-top: 10px;
}

.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}