body{
    box-sizing: border-box;
}

.img-main {
    max-width: 350px;
    max-height: 960px;
    margin: 0 auto;
}

.div-area {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img {
    text-align: center;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
}

.footer-area {
    margin-top: 20px;
    bottom: 0; /*下に固定*/
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

a:hover{
    color: #196095;
}

.blog-margin{
    margin-bottom: 10px;
}

.font-white {
    color: #FFFFFF
}

.bg-blue{
    background-color: #196095;
}

.bg-work{
    background-color: #418EAC;
}

.font-yellow{
    color: #EFA667;
}

.border-btn {
    border: solid 2px;
    border-color: #EFA667;
    display: inline-block;
}

.text-padding {
    line-height: 200%;
}
