body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.img-main {
    max-width: 350px;
    max-height: 960px;
    margin: 0 auto;
}

.div-area {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img {
    text-align: center;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
}

.footer-area {
    margin-top: auto;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

a:hover{
    color: #196095;
}

.blog-margin{
    margin-bottom: 10px;
}

.font-white {
    color: #FFFFFF
}

.bg-blue{
    background-color: #196095;
}

.bg-work{
    background-color: #418EAC;
}

.font-yellow{
    color: #EFA667;
}

.border-btn {
    border: solid 2px;
    border-color: #EFA667;
    display: inline-block;
}

.text-padding {
    line-height: 200%;
}

.timeline {
    width: 96%;
    max-width: 940px;
    margin: 28px auto;
}

.timeline-list {
    padding: 40px 0;
}

.timeline-list-item {
    display: flex;
    line-height: 1.5;
    font-size: 16px;
}

.timeline-list-item .date {
    width: 20%;
    padding: 0 0 0 20px;
    color: #888888;
    font-weight: bold;
}

.timeline-list-item .content {
    position: relative;
    width: 80%;
    padding: 0 20px 60px 30px;
    border-left: 1px solid #418EAC;
}

.timeline-list-item .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #196095;
    border-radius: 10px;
}

.sidebar-section {
    background-color: #418EAC;
}

.sidebar-section-font {
    color: white;
    font-size: medium;
}

.blog-header {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}